.contacts {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 0;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    display: block;
    padding: 70px 15px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-767 {
    gap: 0;
  }
}

.contacts__wrapper h2 {
  margin: 0;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 30px;
  }
}

.contacts__list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 0;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: $color-light-slate-grey;
  }

  @include vp-1199 {
    grid-template-columns: 266px 190px;

    &::before {
      left: 266px;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 0;

    &::before {
      display: none;
    }
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;

  &:nth-child(2n) {
    padding-left: 60px;
  }

  &:nth-child(2n + 1) {
    padding-right: 60px;
  }

  @include vp-1199 {

    &:nth-child(2n) {
      padding-left: 48px;
    }

    &:nth-child(2n + 1) {
      padding-right: 48px;
    }
  }

  @include vp-767 {
    &:nth-child(2n) {
      padding-left: 0;
    }

    &:nth-child(2n + 1) {
      padding-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.contacts__item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;
  padding-bottom: 10px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}
