.page-footer {
  min-height: 108px;
  background-color: $color-black-russian;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    min-height: 114px;
  }

  @include vp-767 {
    min-height: 260px;
  }
}

.page-footer__wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    display: grid;
    // justify-content: normal;
    // align-content: normal;
  }
}

// .page-footer__logo {

// }

// .page-footer__main-nav-wrapper {

// }

// .page-footer__social-wrapper  {

// }
